<form id="new-coordinate" action="/coordinates" method="POST">
  <label for="the_address">Street Address: <br>
    <input type="text" name="address" placeholder="Address">
  </label><br>
  <br>
  <label for="the_latitude">Latitude: <br>
    <input type="number" name="latitude" placeholder="Latitude">
  </label><br>
  <br>
  <label for="the_longitude">Longitude: <br>
    <input type="number" name="longitude" placeholder="Longitude">
  </label><br>
  <br>
  <input type="submit" value="Find It!!">
</form>
