<div class="container">
  <h1>Welcome to Pokemon Go For Tourism!</h1>
  <p>(I shall call it "Mural Go")</p>

  <a href="/coordinates/new">Make a New One!</a>

  <p>Your Current Location:</p>
  (put google maps API here)

  <p>Nearby:</p>
  (put partial here)
</div>
